<h5>
    ‘A persons’ beliefs and a persons’ nature go hand in hand, as do a persons’ nature and will, but most importantly the beliefs, nature and will of the collective generate the very reality in which
    we live.’<br />
    ‘Only correct beliefs can set us free.’<br /><br />
    ‘Identity is a prerequisite to prejudice and war.’<br /><br />
    ‘What you can get people to believe or disbelieve depends greatly on a persons’ identity.’<br /><br />
    ‘Believing foolish things, leads to foolish things such as conflict.’<br /><br />
    ‘Without conflict there can be no control, without identity there can be no conflict.’<br /><br />
    ‘I am not everyone, nor I am no one, I belong to no group, I am [Put Your Name Here]’<br /><br />
    ‘Oneness is our true natural state’<br />
    Letting go of all aspects of your identity will unlock the power of your individuality, overcoming the fear of the loss of individuality represents the path to oneness and heaven.<br /><br />
    ‘Beliefs and identity are two sides of the same coin.’<br />
    Clarification: If you believe in something-ism then your identity is a something-ist.<br />
    It’s OK to call yourself a something-ist so long as this label is meaningless to you.<br /><br />
    ‘When you can let go of all you fear to lose you will be truly free.’<br /><br />
    ‘Make no exclusive associations with good or evil.’<br /><br />
    ‘True freedom is having an outlet for one’s true nature (whatever that is) without castigation.’<br /><br />
    ‘There is no such thing as acting out of character.’ Clarification: Just as a persons’ beliefs and nature go hand in hand, a persons’ nature is also a reflection of their true beliefs.<br /><br />
    When judging others you must understand that no one is perfect, but when judging yourself you must believe that: ‘There is no such thing as acting out of character.’ Take this belief into your nature and it will augment your ability to know yourself.<br /><br />
    ‘Be vigilant when it comes to beliefs.’<br />
    Clarification: Contemplate every belief you spread and its’ effect on society. Contemplate every belief you take on and its’ effect on who and what you are.<br /><br />
    ‘Be conscientious in your conduct.’ Clarification: Every action you take and everything you neglect to do, you must think: Are you serving freedom or the Emperor.<br /><br />
    ‘Evil is insidious’ Clarification: The definition of insidious being: Slow and subtle but with harmful effects.<br /><br />
    ‘Subversive manipulation is the devils’ preferred tool.’<br />
    Clarification: Evil doers have an affinity in use of the power of the mind and sublime esoterica.<br /><br />
    ‘The Empire wins by making you believe that you are alone.’ (Princess Leia Star Wars)<br /><br />
    ‘Evil doers will always attempt to persuade you to take on beliefs consistent with antisocial conduct.’<br /><br />
    ‘Never do or say anything that would put someone in harms way.’<br /><br />
    ‘Understanding is a prerequisite to implementation.’<br /><br />
    ‘Beware of fear or hatred, lest you insidiously turn into what you fear or hate.’<br /><br />
    ‘Invoking or giving into fear, never leads to a good place.’<br /><br />
    ‘Fear Management before Anger Management.’<br /><br />
    ‘Dependence is a prerequisite to control.’<br /><br />
    ‘Increasing levels of dependency without a very good reason is usually insidious.’<br /><br />
    ‘Acceptance is a prerequisite to inner peace.’ (17th Aug 2020)<br /><br />
    ‘There’s a fine line between cynicism and paranoia.’<br /><br />
    ‘You can’t humiliate a humble person.’<br /><br />
    ‘While there is merit in resisting temptation, it is better to develop a nature where you are not tempted.’<br /><br />
    ‘Competing with others is a waste of life. Instead compete only with the person your were yesterday.’<br /><br />
    ‘Truth is truth no matter whose mouth it comes from.’<br /><br />
    ‘The best investment one can make is to invest in one’s self.’ (John Coke)<br /><br />
    ‘Start as you mean to continue because you’ll most likely continue as you start.’<br /><br />
    ‘Your approach to life should be governed by what you want out of life.’<br /><br />
    ‘Don’t be malleable.’<br /><br />
    ‘If you do not change direction, you may end up where you are heading.’ (Lao Tzu)<br /><br />
    ‘Where good people are negligent, evil wins by default.’<br /><br />
    ‘Understanding the complexities increases the appreciation of simplicity.’<br /><br />
    ‘It is far more beneficial to explore the power of beliefs than it is to explore the power of the mind.’<br /><br />
    ‘The mind is indeed powerful, but beliefs are indomitable.’<br />
    Clarification: Keep your beliefs consistent (with social conduct), your faith strong and your mind will align itself with your faith.<br /><br />
    ‘With correct consistent beliefs and strong faith your mind will become your ally.’<br /><br />
    ‘The path to cognitive consonance is having consistent beliefs in your system of faith.’<br />
    Example: You can’t believe in second chances and believe that people never change. Even subtle inconsistencies are unacceptable.<br /><br />
    ‘The folly of incorrect beliefs will be augmented on all levels through the vigilance of the wicked.’<br /><br />
    ‘There is a big difference between believing and knowing.’<br />
    Advice: The relationship between your beliefs and nature is not a belief it is knowledge.<br /><br />
    ‘The most important difference between humans and animals is that we can change our nature by changing our beliefs’<br /><br />
    ‘Leave the past where it belongs.’<br />
    Clarification: You will know when this belief is absorbed into your nature because you will remember bad things with emotional detachment and good things with fondness and acceptance.<br /><br />
    ‘Those who know not themselves are very malleable.’<br />
    Clarification/Warning: If the definition of sentient is ‘self aware’ then those easy to manipulate are just very intelligent animals that normally serve the Emperor, unless good people intervene.<br /><br />
    ‘A good parent loves their children before they are even conceived.’<br />
    Clarification: Let this love motivate you to be all you can be and attract you to the best spouse according to your best discernment.<br /><br />
    ‘You can’t kid kids.’<br />
    Clarification: ‘Hiding your bad habits from your children will not save them from your nature.’ If you want your children to be good then you must be good.<br /><br />
    ‘Know the difference between fear and respect, know the difference between control and discipline.’<br /><br />
    ‘Sobriety expedites the path to knowing yourself.’<br /><br />
    ‘Get them while they are young, because if you don’t they will.’<br /><br />
    ‘Neglect is a form of abuse.’ (Bridget Costello)<br /><br />
    ‘Don’t spoil your children’ Clarification: Sometimes parents concentrate so much on giving their children what they didn’t have, that they forget to give them what they did have. Spoiling children makes them dependent and dependence is a prerequisite to control. When you spoil your children you set them up to fail on life.<br /><br />
    ‘Value greatly mutual symbiont relationships’. Clarification: While we are all sentient beings, it is far wiser to be ‘we aware’ than just ‘self aware’. We are all connected.<br /><br />
    ‘You can’t build an Empire by making exceptions, but you must have a convincing illusion of exceptions.’<br />
    Clarification/Warning: There is a big difference between the perceived level of freedom and the real level of freedom. The less the real level of freedom the less convincing the illusion becomes. When the balance between the real and perceived becomes untenable, it becomes time for a new empire with new Identities and questionable beliefs.<br /><br />
    ‘The enemy has two identities, but a true friend only has one.’<br />
    Clarification: Inconsistencies in a system of beliefs is the mother of hypocrisy but hypocrisy can also be a sign of an evil doer that lies about their true beliefs. With discernment you will know the difference.<br /><br />
    The three secrets to discernment:<br />
    1 Lose all aspects of your identity.<br />
    2 Take on consistent beliefs with as much faith as you can muster (beliefs consistent with social conduct).<br />
    3. Know yourself.<br /><br />
    ‘Don’t waste your time preaching to the choir.’ (the good choir and the bad choir)<br /><br />
    ‘There are two types of rationale in this world; excuses and reasons’. Co-dependant people lean towards excuses, while efficient people prefer reasons. They normally don’t get on with each other.<br /><br />
    In the end, peoples judgements are normally consistent with their nature, by understanding a persons nature you can normally guess the outcome of any trial and if you don’t understand that persons nature you can usually figure it out from their judgement at the end of that trial.<br /><br />
    When being forced into a trial that you have already learned from, understand that this is not your trial but theirs.<br /><br />
    ‘Being treated badly is no excuse for being a bad person, nor is being treated without value an excuse for not valuing yourself.’<br /><br />
    ‘Idiocy is not an alabi’<br />
    If a person understands the outcome of their actions, then is it reasonable to assume that the outcome was the intention of their actions.<br /><br />
    Three beliefs that will free you from underestimating evil people:<br />
    ‘Any mischief possible evil doers will be guilty of.’<br />
    ‘A master of evil is still a master.’<br />
    ‘The secret to their true power is to keep their true power a secret.’<br /><br />
    ‘Don’t play the devil at his own game.’<br />
    Clarification: Armed with consistent beliefs, lack of identity and self knowledge; your discernment will have such lucidity and clarity, that you will see corrupt people for what they really are; as soon as you see them for what they really are; they lose their power and you will see that the only power they really had, was the ability to manipulate us into treating each other badly or in most extreme cases; killing each other. The enemy is within, ‘What is on the outside is a reflection of what is on the inside’ (Mahatma Gandhi). The corruption we see in the key holders of society is really a reflection of our incorrect beliefs. When we fight the key holders, we are trying to change what is inside by changing what is on the outside, this doesn’t work and is the equivalent of playing the devil at his own game.<br /><br />
    ‘PoliTics or poliTricks’<br />
    Clarification: You can reverse engineer the beliefs of those in power from the nature of society.<br /><br />
    ‘The wicked have no empowering beliefs of their own.’<br />
    The source of their power comes from tricking people into taking on foolish beliefs that empowering them. The most foolish belief of the populous at the time of writing this document is consistent with: ‘A Utopian society is very unrealistic’. (Warwick Weston Wright 3rd July 2021).<br /><br />
    ‘To make the world a better place we must dismantle the pyramid of fear.’<br />
    Advice: They can only scare us into treating each other badly, therefore faith (in social conduct) is the key to the dismantling of this pyramid.<br /><br />
    ‘Your living memory is much more reliable than authoritative records of history.’<br />
    Clarification: The history books are authored by the key holders of society, who very often forge history to trick us into repeating the same mistakes; not preventing them. Such forgery doesn’t always need to be lies but half truths aimed at those with identities that would believe what the half truths suggests. The average human has a lifespan that allows them to see out three generations. This is more than enough time to understand the order of things in our world. Having beliefs consistent with social conduct (to all), coupled with lack of identity and self knowledge will make the world a better place; rendering history a semantic detail.<br /><br />
    Incorrect beliefs are like a disease that spreads contextually throughout society but the source is mostly the incorrect beliefs themselves. Very often these beliefs are in the form of religious, political, psychological, historical or philosophical teachings but mostly authoritative sources as authority is often corrupt.<br /><br />
    Much of psychology is only conditionally true.<br /><br />
    A very big part of psychology is built on the nature/nurture debate, believe this and you’ll either never change or blame your past for your problems. Recognise that your beliefs and nature go hand in hand and it is you that will decide what type of person you will be.<br /><br />
    Psychology teaches us that the mind doesn’t understand negatives. Instead of believing this, believe the following philosophy: ‘If this is true, that is not necessarily false.’ (Bruce Lee)<br /><br />
    Psychology teaches us that addiction is a disease. Instead of believing this, believe it’s not a disease, it’s a choice.<br /><br />
    The psychological definition of trauma (in part) is that it is something from which you never recover. Believe you are traumatised and you will never recover.<br /><br />
    Psychology teaches us that identity dysphoria is a problem. Let go of everything you are (your identity) and the problem will go away.<br /><br />
    Psychology teaches us that we are all pattern seekers: Advice be careful not to observe bad patterns.<br /><br />
    Psychology of counselling teaches us to find the source of the bad patterns in our lives. You don’t need to know the source, you only need to change your beliefs to break those patterns.<br /><br />
    Psychology teaches that Closure is a need, it’s not a need it’s a desire.<br />
    Advice: Don’t let this desire dominate your destiny.<br /><br />
    Psychology teaches that belonging is a need, it’s not a need it’s a desire and a foolish one at that.<br />
    Advice: Better to be alone than surrounded by fools. (Confucius)<br /><br />
    Freudian principles, if you can’t figure this one out, then you really are a bit slow.<br /><br />
    ‘We need identity like a hole in the head, from a certain point of view it is a hole in the head.’<br /><br />
    ‘The devil isn’t just in the details, he’s between the lines also’<br />
    Clarification: Use your intellect to understand what you’re not being told and what people are neglecting to do. Very often the same information is missing across all mediums and a great many people are neglecting to do the same thing. Advice: Your mind does understand negatives if you believe it does.<br /><br />
    ‘Contrast compliments enlightenment.’ Clarification: A person who has known only bad relationships will have no concept of what a bad relationship is until that person experiences a good relationship.<br /><br />
    ‘Be The Contrast.’ Clarification: If at your core you know yourself to be a good person then you must understand why you are worthy of love and if someone treats you the way you would never treat someone else, then you must understand that you are being treated badly. Additionally when you are around weak people be careful not to project any negativity onto them.<br /><br />
    ‘Treasure your time alone.’<br />
    Clarification: Use this time to know yourself by reflecting on the motives behind your actions and inactions. Use this time to improve yourself and most of all use this time to learn to love yourself.<br /><br />
    ‘First and foremost love yourself.’<br />
    Clarification: You will know when you have achieved this because you will experience the most beautiful and compete love of all; the ability to love without fear.<br /><br />
    ‘Fight your demons’<br />
    Clarification: If one of your beliefs has not affected your character, then you didn’t really believe it or one of your other beliefs contradicted it. Warning: It is possible to be unaware of your beliefs if they have been taught or enforced contextually.<br /><br />
    ‘Uncloak the beliefs that you are unaware of’ Advice: Meditate and reflect on the emotional motives behind your actions and inactions.<br /><br />
    ‘Unlearn all that you have learned, for we have all been conditioned.’<br />
    With perseverance your faith will eventually overpower your conditioning and you will awaken. Warning: At this time you may be made to face the demon of fear. This demon can be defeated not so much by faith but by acceptance.<br /><br />
    ‘There’s a big difference between intelligence and wisdom’. Intelligence is what one knows, ones’ ability to accumulate more knowledge, ones’ ability to understand what one knows and the ability to implement solutions against ones’ understanding. Wisdom is the implementation of social beliefs and conduct.<br /><br />
    ‘Instead of hiding your mistakes in shame, make them known for the benefit of the next generation.’<br /><br />
    ‘Beliefs affect perception of reality. ’Clarification: Fail to explore the power of beliefs and you will have a narrow dogmatic perception of reality. Explore the full power of beliefs and you will see reality for what it really is. You will even have insight in to the reality of others and have the ability to see the world though their eyes and beliefs.<br /><br />
    The ‘Practice what you preach’ philosophy should not be treated as an absolute. To change can sometimes take time and effort.<br /><br />
    ‘Repeat, repeat and repeat again until the beliefs are a part of you.’<br /><br />
    ‘The will to know yourself must be sincere or you will never grow as a person.’<br />
    Advice: The practice of all the philosophies in this document are useless without knowing yourself. True change must come from within and always remember you can only change yourself, you can’t change others, but with a well timed quote you can make them think.<br /><br />
    ‘The definition of a wasted life is; to be as foolish in the end as you were in life’<br /><br />
    ‘The meaning of life is the purpose of life’<br />
    The purpose being nothing more than to become enlightened. As one gets closer to enlightenment the purpose becomes the meaning and everything starts to make sense.<br /><br />
    ‘Only correct beliefs can set us free, and only correct beliefs can keep us free’
</h5>